<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    LISTA DE USUARIOS CREADOS //

    {{familiar.nombre}}

    {% for elemento in nombre %}

       Nombre creado : {{elemento}}

    {% endfor %}  

    {% for elemento1 in edad %}

       ;Edad creada : {{elemento1}}

    {% endfor %}  
    
    {% for elemento3 in profesion %}

       ;Profesion creada : {{elemento3}}

    {% endfor %}    






</body>
</html>